.border-primary,
.border-primary:focus {
  border-color: $color-primary;
}

.clear {
  clear: both;
}

.progress-bar {
  height: 1rem;
  color: #fff;
}

.top-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.media-list {
  border-right: 1px dotted #969dab;
  padding: 0 15px;

  &:last-child {
    border: none;
  }

  h5 {
    margin: 0;
    font-weight: 600;
    font-size: 1rem;
  }

  label {
    color: #969dab;
    text-transform: uppercase;
    margin: 0;
  }
}

.row {
  &.no-gutter {
    margin-left: 0;
    margin-right: 0;
  }
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.news-ticker {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #999;
  color: #fff;
  text-align: right;
  font-size: 1.3rem;
  line-height: 40px;
  padding: 0 10px;
  z-index: 10001;
  width: 100px;
  height: 40px;
  clip-path: polygon(40px 40px, 150px 40px, 150px 0, 0 0);

  strong {
    font-weight: 700;
  }
}

.marquee {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  color: #fff;
  width: 100%;
  height: 30px;
  padding: 3px 5px;
  overflow: hidden;
  background: rgb(0, 35, 119);
  /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(0, 35, 119, 1) 0%,
    rgba(16, 75, 147, 1) 93%,
    rgba(33, 159, 236, 1) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 35, 119, 1) 0%,
    rgba(16, 75, 147, 1) 93%,
    rgba(33, 159, 236, 1) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 35, 119, 1) 0%,
    rgba(16, 75, 147, 1) 93%,
    rgba(33, 159, 236, 1) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002377', endColorstr='#219fec', GradientType=0);
  /* IE6-9 */

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      float: left;
      margin: 0 15px;

      &.penting {
        background: #f00;
        padding: 0 10px;
        border-radius: 15px;
      }

      i {
        margin-right: 5px;
      }
    }
  }
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 10px;
    background: #eaeaea;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #acacac;
    border-radius: 5px;
  }
}

.bootstrap-tagsinput {
  input {
    background-color: transparent !important;
  }
}

.popover.clockpicker-popover {
  z-index: 1061;
}

.badge-primary {
  background-color: #002377;
  color: #fff;
}

.form-control-group {
  height: 35px !important;
  margin: 0 !important;
  padding: 0 10px !important;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.image-list {
  display: flex;
  flex-wrap: wrap;

  .image-list-item {
    width: calc((100% / 6) - 20px);
    margin: 10px;
    border: 1px solid #acacac;
    padding: 10px;

    &.selected {
      background-color: rgba($color-primary, 0.2);
    }

    .image-list-body {
      margin-top: 10px;

      .image-list-image {
        background-color: #fff;

        img {
          width: 100%;
        }
      }
    }

    @media screen and (max-width: $screen-md-max) {
      width: calc((100% / 4) - 20px);
    }

    // mobile
    @media screen and (max-width: $screen-xs-max) {
      width: calc((100% / 2) - 20px);
    }
  }
}

.shop-profile {
  width: 100%;
  position: relative;

  .shop-profile-banner {
    width: 100%;
    position: relative;

    .shop-profile-banner-image {
      position: relative;
      width: 100%;
      border-radius: 10px;
      overflow: hidden;

      img {
        width: 100%;
      }

      // &::after{
      //     content: "";
      //     position: absolute;
      //     top: 0;
      //     left: 0;
      //     right: 0;
      //     bottom: 0;
      //     background: linear-gradient(rgba(12, 20, 39, 0.1), #0c1427 99%);
      // }
    }

    .shop-profile-banner-button {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      outline: none;
      border: 0;
      text-align: center;
      background-color: $color-white;
      border: 1px solid $color-black;
    }
  }

  .shop-profile-inner {
    display: flex;
    flex-wrap: nowrap;

    .shop-profile-image {
      width: 100px;
      height: 100px;
      margin-left: 15px;
      flex-shrink: 0;
      position: relative;
      transform: translateY(-30px);

      .shop-profile-image-button {
        position: absolute;
        top: 0;
        right: 0;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        outline: none;
        border: 1px solid $color-black;
        text-align: center;
        background-color: $color-white;
      }

      .shop-profile-image-inner {
        box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15);
        height: 100%;
        width: 100%;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
        background-color: $color-white;

        img {
          height: 100%;
          display: inline-block;
        }
      }
    }
    .shop-profile-name {
      flex-grow: 1;
      margin-left: 15px;
    }
  }
}

.modal {
  overflow-y: auto !important;
}

.overflow-y-auto {
  overflow-y: auto;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.youtube-ratio {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.m-l-auto {
  margin-left: auto;
}

body.full-screen {
  width: 100%;
  min-height: 100vh;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}
