

  .page-sidebar {
    .sidebar-header {
      display: flex;
      justify-content: space-between;

      .logo {
        margin: 0;
        margin-left: 10px;
        font-size: 1.2rem;
        font-weight: 700;
        padding: 0 30px;

        img{
          height: 40px;
        }

        span{
          font-weight: 300;
        }
      }
    }

    .sidebar-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;

      img {
        width: 60%;
        margin-left: 20px;
      }
    }
  }

  .brand {

    img {
      height: 40px;
    }
  }

  .header {

    .dropdown-menu {
      a {
        font-size: 1rem;
      }
    }
  }




  .panel {

    .panel-body {

      h5 {
        font-size: 1.8rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  .isi-revisi {
    font-size: 1rem;
    background: #DCE1CE;
    padding: 10px;
    border-radius: 10px;
  }

  .jawab {
    &--revisi {
      background: #F2F2F4;
      padding: 10px 15px;
      border-radius: 10px;
      margin-bottom: 15px;
    }

    &--user {
      background: #0a7c71;
      color: #fff;
      font-size: 1rem;
      margin-bottom: 20px;
      padding: 5px 10px 3px 10px;
      display: table;
      border-radius: 10px 10px 0 10px;

      i {
        margin-right: 10px;
      }
    }
  }



.select2-result-label {
  font-size: 0.7rem;
}