.login-wrapper {
  .bg-pic {

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background: url('../img/background.jpg') no-repeat center center fixed;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .logo {
    margin: 0 auto 15vh auto;
    display: table;
    width: 40%;
  }
}