.contact-section {
    background: url("../img/map.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.contact {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;

    @include media-breakpoint-down(md) {
        justify-content: space-between;
    }

    .contact-item {
        width: calc(45% - 20px);
        background-color: $white;
        border-radius: 15px;
        box-shadow: $box-shadow;
        padding: 20px;

        @include media-breakpoint-down(md) {
            width: calc(50% - 20px);
        }

        @include media-breakpoint-down(sm) {
            width: 100%;

            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }

        .contact-list {
            width: 100%;

            .contact-list-item {
                width: 100%;
                display: flex;
                align-items: center;
                color: #565864;
                line-height: 1;
                text-decoration: none;
                background-color: $gray-100;
                border-radius: $border-radius;
                padding: 10px;

                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }

                &:hover {
                    color: $black;
                }

                .contact-list-icon {
                    margin-right: 10px;
                    height: 30px;
                    width: 30px;
                    font-size: 21px;
                    border-radius: $border-radius;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                }
            }
        }
    }
}
