body {
    margin: 0;
    padding: 0;
}

.hero-page {
    background: linear-gradient(rgba($white, 0.8), rgba($dark, 0.8)), url(../img/keyboard.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 200px 0 50px 0;
    position: relative;

    h2 {
        position: relative;
        z-index: 2;
        font-size: 50px;
        text-align: center;
        text-transform: capitalize;
        margin: 0;
        color: $white;
    }
}

.wrapper-main {
    width: 75%;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
        width: 80%;
        margin: 0 auto;
    }

    @include media-breakpoint-down(sm) {
        width: 95%;
        margin: 0 auto;
    }
}

.wrapper-main2{
    width: 85%;
    margin: 0 auto;
}

.produk-image {
    width:100%;
    padding-top: 30px;
    padding-left:20px;
    margin: 0 auto;
  
    .produk-image-inner {
      position: relative;
      width: 100%;
      flex: wrap;
  
      .produk-image-img {
        overflow: hidden;
        width: 100%;
  
        img {
          width: 100%;
          display: inline-block;
          z-index:2000;
        }
      }
    }
}

.border {
    border: 2px solid $gray-300 !important;
}

.img-slide {
    width: 100%;
    margin:0 auto;

    img{
        width: 100%;
        border: 2px solid $gray-300;
        border-radius: 15px;
    }
}

.prev {
    position: absolute;
    top:30%;
    left: -45px;
    font-size: 35px;
    color: $white;
    background-color: rgba($gray-300, 0.8);
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;

    &:hover{
        font-size: 40px;
    }
}

.next {
    position: absolute;
    top:30%;
    right: -45px;
    font-size: 35px;
    color: $white;
    background-color: rgba($gray-300, 0.8);
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;

    &:hover{
        font-size: 40px;
    }
}

@keyframes slides {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }

    30% {
        opacity: 1;
        transform: translateX(0px);
    }

    70% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(-80px);
    }
}
  
