.footer {
  background-color: lighten($black, 10%);
  color: darken($white, 10%);

  .footer-logo {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;

    img {
      width: 80%;
    }
  }

  .footer-social {
    display: flex;
    flex-wrap: wrap;

    .footer-social-item {
      height: 25px;
      width: 25px;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      margin: 5px;
      text-decoration: none;
      border-radius: 3px;
    }
  }
}

.footer-copyright {
  background-color: $black;
}
