.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: calc(68px + 30px) 0 0 0;

  .hero-item:nth-child(1) {
    width: calc(45% - 20px);
  }

  .hero-item:nth-child(2) {
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    .hero-item-image {
      width: calc(50% - 50px);
      box-shadow: $box-shadow-lg;
      overflow: hidden;
      border-radius: 15px;
      transform: translatey(0px);
      animation: float 5s ease-in-out infinite;

      &:nth-child(2) {
        margin-top: 50px;
        animation-delay: 2.5s;
      }

      img {
        width: 100%;
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: calc(68px + 30px) 0 0 0;

    .hero-item:nth-child(1) {
      width: 100%;
      order: 2;
    }
    .hero-item:nth-child(2) {
      width: 100%;
      order: 1;
      margin-bottom: 40px;
      justify-content: space-between;

      .hero-item-image {
        width: calc(50% - 15px);
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
