.section-image {
    width: 100%;
    padding: 35px 25px;

    .section-image-inner {
        position: relative;
        width: 100%;

        .section-image-img {
            border-radius: 15px;
            overflow: hidden;
            width: 100%;

            img {
                width: 100%;
                display: inline-block;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 15px;
            background-color: $gray-300;
            transform: rotate(10deg);
            z-index: -1;
        }
    }
}
