.navbar {
  padding: 8px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3000;

  &.active {
    background-color: $white;
    box-shadow: $box-shadow-sm;
  }

  .navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-brand {
      display: flex;
      align-items: center;

      .navbar-brand-image {
        height: 42px;
      }
    }

    .navbar-menu .navbar-menu-inner {
      .navbar-menu-logo {
        display: none;
      }
      .navbar-menu-list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;

          &:not(:last-of-type) {
            margin-right: 15px;
          }

          a {
            padding: 0;
            display: inline-block;
            color: $black;
            text-decoration: none;
            font-weight: 500;
            font-size: 17px;
            position: relative;
            line-height: 1;

            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              height: 5px;
              max-height: 50%;
              width: 0;
              background-color: rgba($primary, 0.3);
              z-index: -1;
              transition: 0.3s;
            }

            &:hover::before {
              width: 100%;
            }
          }
        }
      }
    }

    .navbar-toggle {
      height: 24px;
      width: 24px;
      position: relative;
      cursor: pointer;
      display: none;

      span {
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 1.5px;
        background-color: $black;
        transition: 0.3s;
        left: 0;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: calc(50% - 1px);
        }

        &:nth-child(3) {
          bottom: 0;
        }
      }

      &.active {
        span {
          &:nth-child(1) {
            transform: rotate(45deg);
            top: calc(50% - 1px);
            width: 100%;
          }

          &:nth-child(2) {
            width: 0;
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
            width: 100%;
            bottom: 0;
          }
        }
      }
    }

    .navbar-close {
      display: none;
    }

    @include media-breakpoint-down(md) {
      .navbar-brand .navbar-brand-image {
        height: 32px;
      }

      .navbar-menu {
        position: fixed;
        top: 0;
        left: -300px;
        width: 250px;
        height: 100%;
        background-color: $white;
        box-shadow: $box-shadow;
        z-index: 4000;
        transition: left 0.5s;

        &.active {
          left: 0;
        }

        .navbar-menu-inner {
          width: 100%;

          .navbar-menu-logo {
            display: block;
            padding: 40px 20px;
            border-bottom: 2px solid $gray-200;
            text-align: center;

            img {
              display: inline-block;
              width: 80%;
            }
          }

          .navbar-menu-list {
            width: 100%;

            li {
              width: 100%;
              display: block;
              margin: 0;

              a {
                width: 100%;
                display: block;
                padding: 15px 20px;
                transition: 0.3s;

                &::before {
                  display: none;
                }

                &:hover {
                  background-color: rgba($primary, 0.1);
                }
              }
            }
          }
        }
      }

      .navbar-toggle {
        display: block;
      }

      .navbar-close {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 3999;
        background-color: rgba($black, 0.3);

        &.active {
          display: block;
        }
      }
    }
  }
}
