.portfolio {
    display: flex;
    flex-wrap: wrap;

    .portfolio-item {
        background: $white;
        width: calc((100% / 3) - 20px);
        margin: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        overflow: hidden;

        @include media-breakpoint-down(md) {
            width: calc((100% / 2) - 20px);
        }

        @include media-breakpoint-down(xs) {
            width: 100%;
            margin: 10px 0;
        }

        .portfolio-header {
            width: 100%;
            height: 25px;
            background-color: $gray-200;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                height: 10px;
                width: 80%;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                background-color: $gray-100;
                border-radius: 5px;
            }
        }

        .portfolio-image {
            width: 100%;
            height: 0;
            padding-bottom: 55.6%;
            overflow: hidden;
            position: relative;
            background-color: $gray-100;

            .portfolio-image-inner {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 8px;
                    background-color: $white;
                }
                &::-webkit-scrollbar-thumb {
                    //   border-radius: 8px;
                    background-color: $gray-500;
                }

                img {
                    width: 100%;
                }
            }
        }

        .portfolio-body {
            padding: 20px;

            h4 {
                color: $dark !important;
            }

            p {
                display: -webkit-box;
                line-clamp: 2;
                box-orient: vertical;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                -ms-line-clamp: 2;
                -ms-box-orient: vertical;
                word-break: break-word;
                overflow: hidden;
            }
        }

        .portfolio-footer {
            margin-top: auto;
            padding: 0 20px 20px 20px;
            //   background-color: $gray-200;
            // border-top: 1px solid $border-color;
        }
    }
}

.portfolio-tech {
    display: flex;

    .portfolio-tech-item {
        height: 20px;
        width: 20px;
        border-radius: 5px;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
        font-size: 11px;
        line-height: 1;
    }
}
