.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .service-item {
        width: calc((100% / 4) - 20px);
        background-color: $white;
        box-shadow: $box-shadow;
        padding: 20px;
        border-radius: 15px;
        margin: 10px;

        @include media-breakpoint-down(md) {
            width: calc((100% / 2) - 20px);
        }

        @include media-breakpoint-down(xs) {
            width: 100%;
            margin: 10px 0;
        }

        .service-item-icon {
            display: block;
            text-align: center;
            margin: 0 auto 20px auto;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: relative;
            z-index: 1;

            .service-item-icon-inner {
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: inherit;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                svg,
                img {
                    height: 55%;
                    display: inline-block;
                    fill: $white;
                }
            }

            &::before {
                content: "";
                height: 100%;
                width: 100%;
                border-radius: 50%;
                background-color: inherit;
                opacity: 0.2;
                position: absolute;
                top: 0;
                left: -10px;
                z-index: -1;
            }
        }
    }
}
