.team {
    display: flex;
    flex-wrap: wrap;

    .team-item {
        width: calc((100% / 4) - 20px);
        background-color: $white;
        box-shadow: $box-shadow;
        padding: 20px;
        border-radius: 15px;
        margin: 10px;

        .team-image {
            width: 130px;
            height: 130px;
            margin: 20px auto 30px auto;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 15px;
                background-color: $gray-300;
                transform: rotate(22.5deg);
                z-index: 1;
            }
            //   &::after {
            //     z-index: 1;
            //     content: "";
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     height: 100%;
            //     width: 100%;
            //     border-radius: 15px;
            //     background-color: lighten($primary, 10%);
            //     transform: rotate(42.5deg);
            //   }

            .team-image-inner {
                width: 130px;
                height: 130px;
                overflow: hidden;
                position: relative;
                border-radius: 15px;
                z-index: 2;

                img {
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        @include media-breakpoint-down(md) {
            width: calc((100% / 2) - 20px);
        }

        @include media-breakpoint-down(xs) {
            width: 100%;
            margin: 10px 0;
        }
    }
}
