@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Tinos", serif;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
