@for $i from 1 through 100 {
    .fs-#{$i} {
        font-size: $i * 1px;
    }

    @include media-breakpoint-up(md) {
        .fs-md-#{$i} {
            font-size: $i * 1px;
        }
    }

    .truncate-#{$i} {
        display: -webkit-box;
        line-clamp: $i;
        box-orient: vertical;
        -webkit-line-clamp: $i;
        -webkit-box-orient: vertical;
        -ms-line-clamp: $i;
        -ms-box-orient: vertical;
        line-height: normal;
        word-break: break-word;
        overflow: hidden;
    }

    .line-height-#{$i} {
        line-height: $i;
    }

    .bg-primary-lighten-#{$i} {
        background-color: lighten($primary, $i * 1%);
    }

    .font-weight-#{$i * 100} {
        font-weight: $i * 100;
    }
}

.wrapper,
.wrapper-fixed {
    width: 95%;
    margin: 0 auto;
}

.btn-round-lg {
    border-radius: 22.5px;
}
.btn-round {
    border-radius: 17px;
}
.btn-round-sm {
    border-radius: 15px;
}
.btn-round-xs {
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
}

.primary-heading {
    display: flex;
    width: 100%;
    justify-content: center;

    .custom-underline {
        position: relative;
        font-weight: 600;
        z-index: 1;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            top: 110%;
            left: 30%;
            height: 6px;
            max-height: 25%;
            width: 40%;
            background-color: $primary;
            z-index: -1;
            border-radius: 15px;
        }
    }
}
.dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.button-share {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .button-share-item {
        display: block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 18px;
        margin: 3px;
        text-align: center;
        color: $white;
        text-decoration: none;
        border-radius: $border-radius;
        overflow: hidden;

        &.clipboard {
            background-color: $gray-500;
        }

        &.facebook {
            background-color: $facebook;
        }

        &.twitter {
            background-color: $twitter;
        }

        &.instagram {
            background-color: $instagram;
        }

        &.telegram {
            background-color: $telegram;
        }

        &.whatsapp {
            background-color: $whatsapp;
        }
    }
}

.breadscrumbs {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        position: relative;
        font-size: 16px;

        &:not(:last-of-type) {
            margin-right: 25px;

            &::before {
                content: "\ea6d";
                color: $gray-600;
                font-family: "remixicon" !important;
                font-style: normal;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: absolute;
                top: 0;
                left: calc(100% + 7.5px);
            }
        }

        &.active a {
            font-family: PoppinsBold, sans-serif;
        }

        a {
            text-decoration: none;
            color: $gray-600 !important;
        }
    }
}

.color-primary {
    color: $primary;
}

.color-default {
    color: #565864;
}
.bg-youtube {
    background-color: $youtube !important;
}

.bg-instagram {
    background-color: $instagram !important;
}

.bg-twitter {
    background-color: $twitter !important;
}

.bg-linkedin {
    background-color: $linkedin !important;
}

.bg-whatsapp {
    background-color: $whatsapp !important;
}

.bg-facebook {
    background-color: $facebook !important;
}

.bg-whatsapp {
    background-color: $whatsapp !important;
}

.bg-telegram {
    background-color: $telegram !important;
}

.bg-phone {
    background-color: $phone !important;
}

.bg-gmail {
    background-color: $gmail !important;
}

.bg-bootstrap {
    background-color: $bootstrap;
}

.bg-codeigniter {
    background-color: $codeigniter;
}

.bg-mysql {
    background-color: $mysql;
}

.bg-jquery {
    background-color: $jquery;
}

.bg-laravel {
    background-color: $laravel;
}

.bg-express {
    background-color: $express;
}

.bg-react-native {
    background-color: $reactnative;
}

.bg-html5 {
    background-color: $html5;
}

.bg-webpack {
    background-color: $webpack;
}

.bg-gray-100 {
    background-color: $gray-100;
}

@include media-breakpoint-up(md) {
    .wrapper-md {
        width: 85%;
        margin: 0 auto;
    }

    .md-rounded {
        border-radius: $border-radius !important;
    }

    .md-shadow {
        box-shadow: $box-shadow !important;
    }
}

// untuk extra large screen
@media (min-width: 1200px) {
    .wrapper,
    .wrapper-md {
        width: 1140px;
        max-width: 1140px;
    }
}
