$primary: #fa423b;
$white: #ffffff;
$success: #59dd5a;
$info: #38b9fb;
$warning: #fe953a;

$facebook: #3b5999;
$twitter: #55acee;
$instagram: #e4405f;
$linkedin: #0077b5;
$telegram: #3487c6;
$whatsapp: #25d366;
$youtube: #cd201f;
$phone: #0077b5;
$gmail: #e94136;

$bootstrap: #533b78;
$codeigniter: #d64931;
$mysql: #025d87;
$jquery: #0c65a5;
$laravel: #ed453c;
$express: #000000;
$reactnative: #04a0c9;
$html5: #dd4b25;
$webpack: #1b74ba;

$theme-colors: (
    primary: $primary,
    success: $success,
    warning: $warning,
    info: $info,
);
